h2 {
  text-transform: uppercase;
}

a {
  font-size: 14px;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 992px) {
  .my-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 19px 18px;
  }
}

.my-header img {
  width: 28%;
  width: 31%;
  position: absolute;
  top: 2%;
  left: 25px;
}

@media screen and (min-width: 992px) {
  .my-header img {
    width: 15%;
    position: relative;
  }
}

.my-header .humburger {
  position: absolute;
  right: 25px;
  top: 1rem;
  width: 25px;
  height: 25px;
  background-color: #E1EFF6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  z-index: 5;
}

@media screen and (min-width: 992px) {
  .my-header .humburger {
    visibility: hidden;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .my-header .humburger {
    width: 5%;
    height: 30px;
  }
}

.my-header .closed div {
  width: 100%;
  height: 2px;
  background-color: black;
  display: block;
}

.my-header .open {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
}

.my-header .open div {
  width: 100%;
  height: 2px;
  background-color: black;
  position: relative;
}

.my-header .open div:nth-child(2) {
  display: none;
}

.my-header .open div:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -5px;
}

.my-header .open div:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -2px;
}

.my-nav {
  background-color: #E1EFF6;
  height: 100vh;
  width: 100%;
  position: fixed;
  right: -200vh;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  z-index: 3;
}

@media screen and (min-width: 992px) {
  .my-nav {
    position: relative;
    padding-top: 23px;
    height: auto;
    background: none;
    left: 0;
    right: 0;
  }
}

@media screen and (min-width: 992px) {
  .my-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.my-nav li {
  list-style: none;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .my-nav li {
    margin-left: 55px;
  }
}

.my-nav li a {
  color: black;
  text-decoration: none;
  font-family: "Montserrat-Regualar";
  font-size: 18px;
}

@media screen and (min-width: 992px) {
  .my-nav li a {
    color: black;
    font-size: 28px;
  }
}

.my-nav li:not(:last-child) {
  padding-bottom: 11%;
}

@media screen and (min-width: 992px) {
  .my-nav li:not(:last-child) {
    padding-bottom: 0;
  }
}

.my-nav .my-btn {
  background-color: #fff;
  border-radius: 5px;
  padding: 3px 16px;
}

@media screen and (min-width: 576px) {
  .my-nav .my-btn {
    padding: 8px 49px;
  }
}

.hero {
  background-color: #E1EFF6;
  padding-top: 6rem;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 16%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 12rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.hero .my-hero {
  margin-left: 8px;
  padding-bottom: 12px;
}

@media screen and (min-width: 576px) {
  .hero .my-hero {
    width: 50%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .hero .my-hero {
    margin-left: 64px;
    padding-bottom: 68px;
  }
}

.hero a {
  margin-right: 44px;
  text-decoration: none;
  color: black;
  background-color: #fff;
  border-radius: 5px;
  padding: 4px 16px;
}

@media screen and (min-width: 576px) {
  .hero a {
    padding: 14px 39px;
    font-size: 26px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .hero a {
    margin-right: 44px;
    padding: 4px 16px;
  }
}

.hero h1 {
  font-size: 21px;
  margin-bottom: 37px;
}

@media screen and (min-width: 576px) {
  .hero h1 {
    font-size: 59px;
    margin-bottom: 69px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .hero h1 {
    font-size: 30px;
  }
}

.hero .my-hero2 {
  padding-top: 40px;
}

@media screen and (min-width: 576px) {
  .hero .my-hero2 {
    width: 50%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .hero .my-hero2 {
    width: 100%;
    padding-top: 40px;
  }
}

.hero .my-hero3 {
  background-color: #fff;
  position: absolute;
  top: 83%;
  width: 61%;
  left: 22%;
  border-radius: 21px;
}

@media screen and (min-width: 576px) {
  .hero .my-hero3 {
    top: 65%;
    left: 80%;
    height: 16vh;
    width: 19%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .hero .my-hero3 {
    top: 86%;
    width: 53%;
    left: 24%;
  }
}

@media screen and (min-width: 576px) {
  .hero .my-hero3 h4 {
    font-size: 40px;
  }
}

.hero .my-hero3 p {
  font-size: 14px;
}

@media screen and (min-width: 576px) {
  .hero .my-hero3 p {
    font-size: 23px;
  }
}

.hero .my-hero3 p span {
  font-weight: 900;
}

@media screen and (min-width: 576px) {
  .hero .pic {
    margin-top: -21%;
  }
}

.about {
  background-color: #E1EFF6;
  text-align: center;
  padding: 89px 32px;
}

@media screen and (min-width: 576px) {
  .about {
    padding: 34px;
  }
}

.about h2 {
  font-size: 17px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .about h2 {
    font-size: 59px;
    text-align: left;
    padding: 54px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .about h2 {
    font-size: 37px;
    text-align: center;
    padding: 52px;
  }
}

.about .about-1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 576px) {
  .about .about-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .about .about-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 576px) {
  .about .about-2 {
    width: 33%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .about .about-2 {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .about .about-3 {
    width: 33%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .about .about-3 {
    width: 100%;
  }
}

.about h6 {
  padding: 23px;
}

@media screen and (min-width: 576px) {
  .about h6 {
    font-size: 28px;
  }
}

.about .card {
  margin-top: 12vh;
  border-radius: 2rem;
}

.about .card img {
  position: relative;
  top: -6vh;
  margin-bottom: -6vh;
}

.founders {
  position: relative;
  text-align: center;
  padding: 50px 0;
  overflow: hidden;
}

@media screen and (min-width: 576px) {
  .founders {
    padding: 85px 11px;
  }
}

.founders h2 {
  font-size: 15px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .founders h2 {
    font-size: 59px;
    margin-left: 65px;
    padding: 41px;
    text-align: center;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .founders h2 {
    font-size: 25px;
    text-align: center;
  }
}

.founders .founder {
  position: relative;
}

.founders a {
  text-decoration: none;
  color: black;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 59%;
  left: 28%;
  padding: 8px 29px;
  width: 36%;
  font-size: 9px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 576px) {
  .founders a {
    top: 69%;
    left: 28%;
    padding: 0 44px;
    width: 33%;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.founders p {
  font-size: 10px;
  margin-top: 23px;
}

@media screen and (min-width: 576px) {
  .founders p {
    font-size: 21px;
  }
}

.founders span {
  display: block;
  margin-right: 17%;
}

@media screen and (min-width: 576px) {
  .founders span {
    display: block;
    margin-right: 17%;
  }
}

.founders .my-founder {
  position: relative;
}

@media screen and (min-width: 576px) {
  .founders .my-founder {
    left: 17%;
  }
}

.co-founder {
  background-color: #E1EFF6;
  padding: 50px 20px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .co-founder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 87px 28px;
    text-align: right;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .co-founder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.co-founder .my-hero {
  margin-left: 8px;
  padding-bottom: 12px;
}

@media screen and (min-width: 576px) {
  .co-founder .my-hero {
    width: 50%;
  }
}

.co-founder a {
  text-decoration: none;
  color: black;
  background-color: #fff;
  border-radius: 5px;
  padding: 4px 16px;
}

@media screen and (min-width: 576px) {
  .co-founder a {
    padding: 14px 39px;
  }
}

.co-founder h1 {
  font-size: 21px;
  margin-bottom: 37px;
}

@media screen and (min-width: 576px) {
  .co-founder h1 {
    font-size: 59px;
    margin-bottom: 69px;
  }
}

@media screen and (min-width: 576px) {
  .co-founder .co-f1 {
    width: 50%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .co-founder .co-f1 {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .co-founder .co-f1 h4 {
    font-size: 40px;
  }
}

@media screen and (min-width: 576px) {
  .co-founder .pics {
    margin-right: -7%;
  }
}

.co-founder h2 {
  font-size: 17px;
}

@media screen and (min-width: 576px) {
  .co-founder h2 {
    font-size: 41px;
    margin-top: 19%;
    width: 75%;
  }
}

.co-founder p {
  font-size: 12px;
}

@media screen and (min-width: 576px) {
  .co-founder p {
    font-size: 32px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .co-founder p {
    font-size: 17 [x];
  }
}

@media screen and (min-width: 576px) {
  .co-founder .co-f3 {
    margin-top: 14%;
    width: 47%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .co-founder .co-f3 {
    width: 83%;
  }
}

.investors {
  background-color: #fff;
  padding: 23px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .investors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 56px 29px;
    text-align: left;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .investors {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.investors .investors1 {
  margin-left: 8px;
  padding-bottom: 12px;
}

@media screen and (min-width: 576px) {
  .investors .investors1 {
    width: 50%;
  }
}

.investors a {
  margin-right: -8px;
  text-decoration: none;
  color: #fff;
  background-color: black;
  border-radius: 5px;
  padding: 4px 16px;
}

@media screen and (min-width: 576px) {
  .investors a {
    padding: 14px 39px;
  }
}

.investors a i {
  color: #fff;
}

.investors h1 {
  font-size: 21px;
  margin-bottom: 37px;
}

@media screen and (min-width: 576px) {
  .investors h1 {
    font-size: 59px;
    margin-bottom: 69px;
  }
}

.investors .investors2 {
  padding-top: 40px;
}

@media screen and (min-width: 576px) {
  .investors .investors2 {
    width: 50%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .investors .investors2 {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .investors .investors2 h4 {
    font-size: 40px;
  }
}

@media screen and (min-width: 576px) {
  .pics {
    margin-top: -21%;
  }
}

h2 {
  font-size: 17px;
}

@media screen and (min-width: 576px) {
  h2 {
    font-size: 41px;
    margin-top: 19%;
    width: 75%;
  }
}

@media screen and (min-width: 576px) {
  p {
    font-size: 32px;
  }
}

@media screen and (min-width: 576px) {
  .co-f3 {
    margin-top: 14%;
    width: 47%;
  }
}

.questions {
  background-color: #E1EFF6;
  padding-top: 25%;
}

.questions h3 {
  font-size: 21px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .questions h3 {
    font-size: 41px;
    text-align: center;
    margin-bottom: 10%;
  }
}

.questions .questions1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 576px) {
  .questions .questions1 {
    padding-bottom: 22%;
  }
}

.questions html {
  scroll-behavior: smooth;
}

.questions *,
.questions *::after,
.questions *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.questions body {
  font: 500 1em/1.5 'Poppins',sans-serif;
  background-color: #E1EFF6;
}

.questions body::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

.questions body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
}

.questions body::-webkit-scrollbar-track {
  -webkit-box-shadow: 4px 0 8px rgba(0, 0, 0, 0.45) inset;
          box-shadow: 4px 0 8px rgba(0, 0, 0, 0.45) inset;
}

.questions ::-moz-selection {
  color: #fff;
  background-color: #0ac229;
}

.questions ::selection {
  color: #fff;
  background-color: #0ac229;
}

.questions main {
  width: 90%;
  margin: 2em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions .accordion__container {
  margin-bottom: 10px;
  background-repeat: no-repeat;
  padding: 1em 2em;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .questions .accordion__container {
    width: 50%;
  }
}

.questions .accordion__container:last-type {
  margin-bottom: 0;
}

.questions .accordion__question__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .8em;
}

.questions .accordion__question {
  color: black;
  font-size: 12px;
  text-transform: lowercase;
}

@media screen and (min-width: 576px) {
  .questions .accordion__question {
    font-size: 20px;
  }
}

@media screen and (min-width: 576px) {
  .questions .accordion__question p {
    font-size: 20px;
    font-family: "Montserrat-Thin";
  }
}

.questions .accordion__btn {
  display: inline-block;
  background: none;
  border: none;
  border-radius: 3px;
  color: black;
  cursor: pointer;
}

.questions .accordion__btn i {
  font-size: 1.2em;
  padding: .15em;
}

.questions .accordion__answer__container {
  display: none;
  font-size: 10px;
}

.questions .accordion__answer__container p {
  font-size: 10px;
}

@media screen and (min-width: 576px) {
  .questions .accordion__answer__container p {
    font-size: 20px;
    font-family: "Montserrat-Thin";
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .questions .accordion__answer__container p {
    font-size: 22px;
  }
}

.questions .active__accordion {
  display: block;
}

.startups {
  position: relative;
  background-color: #E1EFF6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 23px 0;
  overflow: hidden;
}

.startups .starts {
  background-color: #fff;
  padding: 29px 0;
}

@media screen and (min-width: 576px) {
  .startups .starts {
    margin-bottom: 15%;
    padding: 88px 21px;
  }
}

.startups .starts h2 {
  font-size: 12px;
  text-align: center;
  text-transform: initial;
}

@media screen and (min-width: 576px) {
  .startups .starts h2 {
    margin-top: 0;
    font-weight: lighter;
    font-size: 51px;
    font-family: "Montserrat-Regualar";
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  .startups .my-pic {
    position: absolute;
    bottom: -17%;
    left: 7%;
  }
}

@media screen and (min-width: 576px) {
  .startups .controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 85%;
    position: absolute;
    top: 40%;
  }
}

@media screen and (min-width: 576px) {
  .startups .daphne {
    width: 98%;
  }
}

.startups .daphne img {
  width: 100%;
  height: 9vh;
}

@media screen and (min-width: 576px) {
  .startups .daphne img {
    width: 50%;
  }
}

.startups button {
  display: none;
}

@media screen and (min-width: 576px) {
  .startups button {
    border-radius: 58%;
    width: 50px;
    height: 50px;
  }
}

.startups .my-pic {
  display: none;
}

@media screen and (min-width: 576px) {
  .startups .my-pic {
    display: block;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .startups .my-pic {
    display: none;
  }
}

.my-footer {
  background-color: black;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 34px 20px;
}

@media screen and (min-width: 576px) {
  .my-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 93px 33px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.my-footer a {
  text-decoration: none;
  font-size: 11px;
  color: #fff;
}

@media screen and (min-width: 576px) {
  .my-footer a {
    font-size: 22px;
  }
}

.my-footer li {
  list-style: none;
}

.my-footer h6 {
  font-size: 14px;
  color: #fff;
}

@media screen and (min-width: 576px) {
  .my-footer h6 {
    font-size: 29px;
  }
}

.my-footer span {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 9%;
}

.my-footer span p {
  margin: 0;
}

.my-footer span hr {
  height: 33px;
  border: 2px solid white;
  width: 2px;
  opacity: 1;
  margin: 3px 0x;
  margin: 13px 6px 0 20px;
}

.my-footer span img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 576px) {
  .my-footer span img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.my-footer ul {
  padding: 0;
  margin-top: 20px;
}

.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  display: none;
}

.slick-slide {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  opacity: 0;
}

@media screen and (min-width: 576px) {
  .slick-slide {
    opacity: 1;
  }
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */