


// fonts
$text-regular:'Montserrat-Regualar';
$text-bold:'Montserrat-Bold';
$text-light:'Montserrat-Thin';


// colors
$color-blue:#E1EFF6;
$color-black:black;
$color-white:#fff;

// typography

h2{
      text-transform: uppercase;
}
a{
      font-size: 14px;

     
}
img{
      object-fit: contain;
}


// header section
.my-header{

      @media screen and (  min-width: 992px) {
            display: flex;
            position: absolute;
            width: 100%;
            align-items: center;
            justify-content: space-between;
           padding: 19px 18px;
      }


      
      img{
            width: 28%;
            width: 31%;
            position: absolute;
            top: 2%;
            left: 25px;  

            @media screen and (  min-width: 992px) {
            width: 15%;
            position: relative;
            // top: 0;
            // left: 0;
      }
}
      
      
    
      .humburger{
           
            position: absolute;
            right: 25px;
            top: 1rem;
            width: 25px;
            height: 25px;
            background-color: $color-blue;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
            cursor: pointer;
            z-index: 5;
            @media screen and ( min-width: 992px) {
             visibility: hidden;   
                    
      
            }
            @media screen and (  min-width: 576px) and (max-width:768px) {
                  width: 5%;
                  height:30px ;
            
                  
            }

           
      }
      .closed{

            div{
                  width: 100%;
                  height: 2px;
                  background-color: $color-black;
                  display: block;
            }
      }
      .open{
            border: 1px solid $color-black;
            border-radius: 50%;
            padding: 5px;
      
            div{
                  width: 100%;
                  height: 2px;
                  background-color: $color-black;
                  position: relative;
                  &:nth-child(2){
                        display: none;
                        
                  }
                 &:first-child{
                       transform: rotate(-45deg);
                       bottom: -5px;
                 }
                 &:last-child{
                       transform: rotate(45deg);
                       top: -2px;
                 }
                  
                  
            }
      }


}




      
.my-nav{
      background-color: $color-blue;
      height: 100vh;
      width: 100%;
      position: fixed;
      right: -200vh;
      transition: 1s ease-in;
      z-index: 3;
      @media screen and ( min-width: 992px) {
            position: relative;
            padding-top: 23px;
            height: auto;
            background:none;
            left: 0;
            right: 0;
            
                   
     
           }
           ul{
            @media screen and ( min-width: 992px) {
                    
                    display: flex;  
                    margin-left: auto;    
                    flex-direction: row;
                    justify-content: space-between;
                 }
           }

      li{
            list-style: none;
            text-align: center;
  
            @media screen and ( min-width: 992px) {
                 margin-left: 55px;
                           
             
                   }

            a{
                  color: $color-black;
                  text-decoration:none ;
                  font-family: $text-regular;
                  font-size: 18px;

                  
                  @media screen and ( min-width: 992px) {
                      color: $color-black; 
                      font-size: 28px;
                               
                 
                       }

            }

            &:not( :last-child){
                  padding-bottom: 11%;
                  @media screen and ( min-width: 992px) {
                      padding-bottom: 0;
                                 
                   
                         }
            }
      }
      
      .my-btn{
            background-color: $color-white;
            border-radius: 5px;
            padding: 3px 16px;
            @media screen and ( min-width: 576px) {
                  padding: 8px 49px;    
            }
      }

  
}
// header end

// hero section


.hero{
      background-color: $color-blue;
      padding-top: 6rem;
      text-align: center;
      @media screen and ( min-width: 576px) {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding-top: 16%;
           
      }
      @media screen and (  min-width: 576px) and (max-width:768px) {
            flex-direction: column;
            padding-top: 12rem;
            align-items: center;
            text-align: center;
      }
      .my-hero{
            margin-left: 8px;
            padding-bottom:12px ;
            @media screen and ( min-width: 576px) {
                  width: 50%;
            }
            @media screen and (  min-width: 576px) and (max-width:768px) {
                  margin-left: 64px;
                  padding-bottom:68px ;   
            }
      }

      a{
           margin-right: 44px; 
           text-decoration: none;
           color: $color-black;
           background-color: $color-white;
            border-radius: 5px;
            padding: 4px 16px;

       @media screen and ( min-width: 576px) {
             padding: 14px 39px;
             font-size: 26px;
             
       }
       @media screen and (  min-width: 576px) and (max-width:768px) {
            margin-right: 44px;  
      
            padding: 4px 16px;
       }

      }
      h1{
            font-size: 21px;
            margin-bottom: 37px;
            @media screen and ( min-width: 576px) {
                  font-size: 59px;
                  margin-bottom: 69px;
            }
            @media screen and (  min-width: 576px) and (max-width:768px) {
                  font-size: 30px;
            }
      }
      .my-hero2{
            padding-top: 40px;
            @media screen and ( min-width: 576px) {
                  width: 50%;
            } 
             @media screen and (  min-width: 576px) and (max-width:768px) { 
                  width: 100%;
                  padding-top: 40px;
            }      
            
      }
      .my-hero3{
            background-color: $color-white;
            position: absolute;
            top: 83%;
            width: 61%;
            left: 22%;
            border-radius: 21px;
            @media screen and ( min-width: 576px) {
                  top: 65%;
                  left: 80%;
                  height: 16vh;
                  width: 19%;
            }
            @media screen and (  min-width: 576px) and (max-width:768px) { 
                  top: 86%;
                  width: 53%;
                  left: 24%;
            }
            h4{
                  @media screen and ( min-width: 576px) {
                  font-size: 40px;
                  }
            }
            p{
                  font-size: 14px;
                  @media screen and ( min-width: 576px) {
                  font-size: 23px;
                  }
                  span{
                        font-weight: 900;
                        @media screen and ( min-width: 576px) {
                            
                        }

                  }
            }
      }
      .pic{
            @media screen and ( min-width: 576px) {
            margin-top: -21%;
            }
      }
}

// end

.about{
       background-color: $color-blue;
       text-align: center;
       padding: 89px 32px;

   @media screen and ( min-width: 576px) {
      padding: 34px;
   }
   h2{
         font-size: 17px;
         text-align: center;
      @media screen and ( min-width: 576px) {
            font-size: 59px;
            text-align: left;
            padding: 54px;
      } 
      @media screen and (  min-width: 576px) and (max-width:768px) { 
      font-size: 37px;
    text-align: center;
    padding: 52px;
      }
   }

   .about-1{
         flex-direction: row;
         justify-content: space-evenly;
      @media screen and ( min-width: 576px) {
         display: flex;
         padding-bottom: 10%;
         justify-content: space-around;
         
      }
      @media screen and (  min-width: 576px) and (max-width:768px) {
            flex-direction: column;
       }
      
   } 
      .about-2{
           
            @media screen and ( min-width: 576px) {
            width: 33%;
           
      }
      @media screen and (  min-width: 576px) and (max-width:768px) {
            width: 100%;
       }
      }
      .about-3{
           
            @media screen and ( min-width: 576px) {
            width: 33%;
            
            }
            @media screen and (  min-width: 576px) and (max-width:768px) {
                  width: 100%;
             }
      }
      h6{

       padding: 23px;
      @media screen and ( min-width: 576px){
         font-size: 28px;
       
      } 
}
.card{
      margin-top: 12vh;

      // margin-top: 5vh;
      

      img{
           
    position: relative;
    top: -6vh;
    margin-bottom: -6vh;
 
      }

 border-radius: 2rem;  
      @media screen and ( min-width: 576px){
           
           
          }
}
}
// end


.founders{
      position: relative;
      text-align: center;
        padding: 50px 0;
      overflow: hidden;
      @media screen and ( min-width: 576px){
            padding: 85px 11px;
      }
      h2{
            font-size: 15px;
            text-align: center;
         
            @media screen and ( min-width: 576px){
                  font-size: 59px;
                  margin-left: 65px;
                  padding: 41px;
                  text-align: center;


            }
            @media screen and (  min-width: 576px) and (max-width:768px) {
                  font-size: 25px;
                  text-align: center;
             }
            
      }
      
      .founder{
            position: relative;
            
      }
      a{
            text-decoration: none;
            color: $color-black;
            background-color: $color-white;
            border-radius: 5px;
            position: absolute;
            top: 59%;
            left: 28%;
            padding: 8px 29px;
            width: 36%;
            font-size: 9px;
            justify-content: center;
            align-items: center; 
            display: flex;
            @media screen and ( min-width: 576px){
                  top: 69%;
                  left: 28%;
                  padding: 0 44px;
                  width: 33%;
                  font-size: 14px;
                  display: flex;
                  justify-content: center;
                  align-items: center; 
            }

      }
      p{
            font-size: 10px;
            margin-top: 23px;
            @media screen and ( min-width: 576px){
                  font-size: 21px;
            }
      }
      span{ 
            display: block;
            margin-right: 17%;
             @media screen and ( min-width: 576px){
                  display: block;
             margin-right: 17%;
             }
      }
      .my-founder{
            position: relative;
            @media screen and ( min-width: 576px){
            left: 17%;
      }
      }

}






.co-founder{
      background-color: $color-blue;
      padding: 50px 20px;
      text-align: center;
      @media screen and ( min-width: 576px) {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding: 87px 28px;
            text-align: right;
      }
      @media screen and (  min-width: 576px) and (max-width:768px) {
            flex-direction: column;
            text-align: center;
       }
      .my-hero{
            margin-left: 8px;
            padding-bottom:12px ;
            @media screen and ( min-width: 576px) {
                  width: 50%;
            }
      }

      a{
      //      margin-right: 5px; 
           text-decoration: none;
           color: $color-black;
           background-color: $color-white;
            border-radius: 5px;
            padding: 4px 16px;

       @media screen and ( min-width: 576px) {
             padding: 14px 39px;
             
       }

      }
      h1{
            font-size: 21px;
            margin-bottom: 37px;
            @media screen and ( min-width: 576px) {
                  font-size: 59px;
                  margin-bottom: 69px;
            }
      }
      .co-f1{
            // padding-top: 40px;
            @media screen and ( min-width: 576px) {
                  width: 50%;
            }
            @media screen and (  min-width: 576px) and (max-width:768px) {
                  width: 100%;
             }
      
         
            h4{
                  @media screen and ( min-width: 576px) {
                  font-size: 40px;
                  }
            }
           
      }   

.pics{
      @media screen and ( min-width: 576px) {
      margin-right: -7%;
      }
     
}

   h2{
         font-size: 17px;
      @media screen and ( min-width: 576px) {
            font-size: 41px;
          margin-top: 19%;
          width: 75%;
      }
      
}

p{
      font-size:12px ;
      @media screen and ( min-width: 576px) {

      font-size: 32px;

      }
      @media screen and (  min-width: 576px) and (max-width:768px) {
            font-size: 17[x];
      }
}
      
      .co-f3{
        @media screen and ( min-width: 576px) {
        margin-top: 14%;
        width: 47%;
            }

  @media screen and (  min-width: 576px) and (max-width:768px) {
        width: 83%;
  }
   }  
}




  
 
   .investors{
      background-color: $color-white;
      padding: 23px;
      text-align: center;
      @media screen and ( min-width: 576px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 56px 29px;
            text-align: left;
      }
      @media screen and (  min-width: 576px) and (max-width:768px) {
            flex-direction: column;
            text-align: center;
      }
      .investors1{
            margin-left: 8px;
            padding-bottom:12px ;
            @media screen and ( min-width: 576px) {
                  width: 50%;
            }
      }

      a{
           margin-right: -8px; 
           text-decoration: none;
           color: $color-white;
           background-color: $color-black;
            border-radius: 5px;
            padding: 4px 16px;

       @media screen and ( min-width: 576px) {
             padding: 14px 39px;
             
       }
       i{
           color:$color-white;  
       }

      }
      h1{
            font-size: 21px;
            margin-bottom: 37px;
            @media screen and ( min-width: 576px) {
                  font-size: 59px;
                  margin-bottom: 69px;
            }
      }
      .investors2{
            padding-top: 40px;
            @media screen and ( min-width: 576px) {
                  width: 50%;
                  
            }
            @media screen and (  min-width: 576px) and (max-width:768px) {
                  width: 100%;
            } 
      
         
            h4{
                  @media screen and ( min-width: 576px) {
                  font-size: 40px;
                  }
            }
           
      }   
}
.pics{
      @media screen and ( min-width: 576px) {
      margin-top: -21%;
      }
}

   h2{
         font-size: 17px;
      @media screen and ( min-width: 576px) {
            font-size: 41px;
          margin-top: 19%;
      
          width: 75%;
      }
}

p{
      @media screen and ( min-width: 576px) {

      font-size: 32px;


      }
}
      
      .co-f3{
        @media screen and ( min-width: 576px) {
        margin-top: 14%;
        width: 47%;
            }
   }
//    end


.questions{
background-color: $color-blue;
padding-top: 25%;
   @mixin flex( $justify, $align, $dir:row) {
     display:flex;
     flex-direction:$dir;
     justify-content:$justify;
     align-items:$align;
   }
   h3{ 
         font-size: 21px;
         text-align: center;
        @media screen and ( min-width: 576px) {

         font-size: 41px;
         text-align: center;
         margin-bottom: 10%;
   }
   }
   .questions1{
         display: flex;
         flex-wrap: wrap;
         @media screen and ( min-width: 576px) {
               padding-bottom: 22%;
         }
   }
   
   html {
     scroll-behavior:smooth;
   }
   *,
   *::after,
   *::before {
     margin:0;
     padding:0;
     box-sizing:border-box;
   }
   body {
     font:500 1em/1.5 'Poppins',sans-serif;
     background-color:$color-blue;
     
     &::-webkit-scrollbar {
       width:14px;
       height:14px;
     }
     &::-webkit-scrollbar-thumb {
       background-color:#555;
       border-radius:6px;
     }
     &::-webkit-scrollbar-track {
       box-shadow:4px 0 8px rgba(0,0,0,.45) inset;
     }
   }
   
   ::selection {
     color:$color-white;
     background-color:hsl(130deg, 90%, 40%);
   }
   
   main {
     width:90%;
     margin:2em auto;
     @include flex(center,center, column);
   }
   
   .accordion {
     &__container {
       margin-bottom:10px;
      //  background-image:linear-gradient(to bottom left, hsl(270deg, 90%, 95%), hsl(40deg, 90%, 95%));
       background-repeat:no-repeat;
       padding:1em 2em;
      //  box-shadow:0 5px 8px rgba(0,0,0,.3);
       
       background: transparent;
       border: none;
       box-shadow: none;
       outline: none;
       width: 100%;
       @media screen and ( min-width: 576px) {
             width: 50%;
       }
     }
     &__container:last-type {
       margin-bottom:0;
     }
     &__question__container {
      @include flex(space-between, center);
       margin-bottom:.8em;
     }
     &__question {
       color:$color-black;
       font-size: 12px;
       text-transform: lowercase;
       @media screen and ( min-width: 576px) {
             font-size: 20px;
           
       }
       p{  
               @media screen and ( min-width: 576px) {

             font-size: 20px;
             font-family: $text-light;
       }
      }
     }
     &__btn {
       display:inline-block;
       background:none;
       border:none;
      //  border:2px solid currentColor;
       border-radius:3px;
       color:$color-black;
       cursor:pointer;
       i {
         font-size:1.2em;
         padding:.15em;
       }
     }
     &__answer__container {
       display:none;
       font-size: 10px;
     
       p{
             font-size: 10px;
            @media screen and ( min-width: 576px) {
                  font-size: 20px;
                  font-family: $text-light;
            }  
        @media screen and (  min-width: 576px) and (max-width:768px) {
      font-size: 22px;
  }
}
     }
   }
   .active__accordion {
     display:block;
   }
}


.startups{
      position: relative;
      background-color: $color-blue;
      display: flex;
      flex-direction: column;
      padding: 23px 0;
      overflow: hidden;
      .starts{
            background-color: $color-white;
            padding: 29px 0;

            @media screen and ( min-width: 576px) {
                  
                  margin-bottom: 15%;
                  padding: 88px 21px;

                  
            }
            h2{ 
                  font-size: 12px;
                    text-align: center;
                    text-transform: initial;
                  
                  @media screen and ( min-width: 576px) {

                  margin-top: 0;
                  font-weight: lighter;
                  font-size: 51px;
                  font-family: $text-regular;
                  text-align: center;
                  }
            }
      }
      // .images{
         
      //       img{
      //             width: 100%;
                
      //             @media screen and ( min-width: 576px) {
      //                   width: 15%;
      //             }
                  
      //       }
      // }
      .my-pic{

        @media screen and ( min-width: 576px) {   
         position: absolute;
         bottom: -17%;
         left: 7%;
        }
      }
      .controls{
            // width: 100%;
            @media screen and ( min-width: 576px) {
                  display: flex;
                  justify-content: space-between; 
                  width:85%;
                  position: absolute;
                  top: 40%;
               
            }
      }
      
            
      .daphne{
            // width: 50%;
            @media screen and ( min-width: 576px) {
                  width: 98%;
            }

            img{
                  width: 100%;
                  height: 9vh;
                  @media screen and ( min-width: 576px) {
                  width: 50%;
            }
      
      }
}
button{
      // border-radius: 50%;
      // width: 28px;
      // height: 28px;
      display: none;
     
      @media screen and ( min-width: 576px) {
      border-radius: 58%;
      width: 50px;
      height: 50px;
}
}
.my-pic{
      display: none;
      @media screen and ( min-width: 576px) {
            display: block;
      }
      @media screen and (  min-width: 576px) and (max-width:768px) {
            display: none;
      }
}
      }









.my-footer{
      background-color: $color-black;
      color:$color-white;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
      padding: 34px 20px;
      @media screen and ( min-width: 576px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 93px 33px;
      flex-wrap: wrap;
      }

      a{
            text-decoration: none;
             font-size:11px ;
            color: $color-white;
            @media screen and ( min-width: 576px) {
                  font-size:22px ;   
            }
      }
      li{
            list-style: none;
            // width: 47%;
            // text-align: right;
      }
      h6{
            font-size: 14px;
            color: $color-white;
          
            @media screen and ( min-width: 576px) {
            //  text-align: center;
            font-size: 29px;
          
            }
      }
      span{
            text-align: center;
            align-items: center;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 9%;
            p{
                  margin: 0;
            }
            @media screen and ( min-width: 576px) {
                  
            }
      hr{

            height: 33px;
            border: 2px solid white;
            width: 2px;
            opacity: 1;
            margin: 3px 0x;
            margin: 13px 6px 0 20px;
                
            
      @media screen and ( min-width: 576px) {     
           
            }
      } 
            img{
                  object-fit: contain;
                  @media screen and ( min-width: 576px) {
                  object-fit: contain;
            }
      }
      }
      ul{
            padding: 0;
            margin-top: 20px;
      }
}
























.slider {
      width: 50%;
      margin: 100px auto;
  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
    display: none;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: 0;
    @media screen and ( min-width: 576px) {
          opacity: 1;
    }
  }
  
  .slick-active {
    opacity: 1;
  }

  .slick-current {
    opacity: 1;
  }