@font-face {
  font-family: "Montserratt";
  src: url("./Montserrat-Regualar.ttf");
 
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-Thin.ttf");

}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-Bold.ttf");

}
